# Composer
/vendor/
/support-assiant-for-wp/vendor/

# Library (separate git repository)
/pluginpulse-connect-library/

# Support Assistant Plugin's vendor
/fullworks-support-diagnostics/vendor/

# PHPUnit
/tests/coverage/
.phpunit.result.cache

# PhpStorm/IDE files
.idea/
*.iml
*.iws
.DS_Store

# Node modules
/node_modules/

# Build files
/build/
/dist/
/zipped/

# Misc
Thumbs.db
*.log
/.env.youtrack
