.idea/
.vscode/
.directory
.DS_Store
dist/
build/
zipped/
tmp-build/
node_modules/
/vendor/
/fullworks-support-diagnostics/vendor/
/fullworks-support-diagnostics/composer.lock
/fullworks-support-diagnostics/includes/vendor/
.phpunit.result.cache
*.phpunit.result.cache
.wp-env.override.json
.env
.env.*
!.env.example
*.log
__pycache__/
# repository specific
/support-assiant-for-wp/vendor/
/pluginpulse-connect-library/
/tests/coverage/
*.iml
*.iws
/node_modules/
/build/
/dist/
Thumbs.db
/zipped/fullworks-support-diagnostics.zip
/.env.youtrack
