name: Plugin Check

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: composer update --prefer-dist --no-progress

      - name: Run phpcs suit
        run: composer run-script check

      - name: Composer install
        run: composer update -d  fullworks-support-diagnostics --no-dev
      - name: Run plugin check
        uses: wordpress/plugin-check-action@v1
        with:
          build-dir: './fullworks-support-diagnostics'
          
